.lh-primary {
  background-color: theme('colors.gray.900') !important;
  &:hover {
    background-color: theme('colors.gray.900') !important;
  }
}

.lh-color {
  color: theme('colors.gray.900') !important;
  &:hover {
    color: theme('colors.gray.800') !important;
  }
}

.lh-border {
  border-color: theme('colors.gray.900') !important;
}

::selection {
  background-color: theme('colors.gray.900');
  color: white;
}
